<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Analyzer</title>
</head>
<body>
<h1 style="align: center">Welcome to the Text analysis page</h1>
<h2>Enter Your Text Below:</h2>
<form action="/textanalyzer" method="get">
    <textarea name="input_text" style="width: 1680px; height: 131px;"></textarea>
    <br>
    <input type="checkbox" name="remove_punctuation"> Remove Punctuation
    <br>
    <input type="checkbox" name="capitalize_first"> Capitalize First
    <br>
    <input type="checkbox" name="upper_case"> Convert Text to UPPER CASE
    <br>
    <input type="checkbox" name="new_line_remover"> Remove New Line
    <br>
    <br>
    <button type="submit">Submit Your Response</button>
</form>
</body>
